---
import { getCollection } from 'astro:content';
import { Layout } from '@/widgets/layout';
import { DateTime } from 'luxon';

const getPostsDirectoryPrefix = () => {
  const mock = import.meta.env.BLOG_CONTENT_MOCK;

  if (mock) {
    return `mock/${mock}/`;
  }

  return 'live/';
};

const postsDirectoryPrefix = getPostsDirectoryPrefix();
const posts = await getCollection('blog', ({ id }) =>
  id.startsWith(postsDirectoryPrefix)
);

const postPreviews = posts.map((p) => ({
  title: p.data.title,
  description: p.data.description,
  publishDate: p.data.publishDate,
  slug: p.slug,
  href: `/blog/${p.slug}`,
}));

postPreviews.sort((a, b) => b.publishDate.getTime() - a.publishDate.getTime());

const hasPostPreviews = postPreviews.length > 0;
---

<Layout title="Blog" description="Latest Sean Dodson blog posts">
  <div class="container-sm container">
    <h1 class="sr-only">Sean Dodson Home Page</h1>
    <section>
      <h2 class="heading m-0 font-bold">Latest Blog Posts</h2>
      {
        hasPostPreviews ? (
          <div class="mt-8">
            {postPreviews.map(
              ({ title, slug, description, publishDate, href }) => (
                <article class="mb-10" data-testid="BlogPostPreview">
                  <a
                    href={href}
                    class="post-preview block rounded-2xl border border-gray-200 bg-white p-6"
                    data-slug={slug}
                  >
                    <h3 class="m-0 text-2xl font-bold">{title}</h3>
                    <div class="mt-2 text-xs text-gray-700">
                      <time datetime={publishDate.toISOString()}>
                        {DateTime.fromJSDate(publishDate)
                          .toFormat('LLL dd, yyyy')
                          .toUpperCase()}
                      </time>
                    </div>
                    <p class="mt-8 mb-0">{description}</p>
                    <div class="link read-more mt-8 hover:underline">
                      Read more
                    </div>
                  </a>
                </article>
              )
            )}
          </div>
        ) : (
          <div class="mt-4">
            Aww, no posts have been published yet. Please check again later!
          </div>
        )
      }
    </section>
  </div>
</Layout>

<script>
  const postPreviewLinks = document.querySelectorAll('a.post-preview');

  postPreviewLinks.forEach((p) => {
    p.addEventListener('click', () => {
      const slug = p.getAttribute('data-slug');

      window.dataLayer?.push({
        event: 'blog_post_preview_click',
        slug,
      });
    });
  });
</script>

<style>
  .heading {
    color: var(--color-primary);
  }

  .post-preview:hover {
    filter: drop-shadow(0px 0px 5px rgb(231, 231, 231));
  }

  .post-preview:hover .read-more {
    color: var(--color-link-hover);

    @apply underline;
  }
</style>
